function isPhoneNumber(tel) {
    var reg = getRegExp('/^0?1[3|4|5|6|7|8][0-9]\d{8}$/');
    return reg.test(tel);
}

function formatPhoneNumber(tel){
    if(isPhoneNumber(tel)){
        return tel;
    }
    return tel.substring(0, 3)+"****"+tel.substring(tel.length-4)
}

module.exports = {
    formatPhoneNumber: formatPhoneNumber
}